.content_container{
  display: flex;
  width: 100%;
  @media(max-width: 1020px){
    flex-direction: column-reverse;
  }
}
.left_part{
  width: 71%;
  filter: brightness(50%);
  position: relative;
  z-index: 1;
  @media(max-width: 1020px){
    width: 100%;
    .map_container{
      height: 50vh;
    }
  }
}
.right_part{
  width: 29%;
  position: relative;
  z-index: 2;
  @media(max-width: 1020px){
    width: 100%;
  }
  &:before{
    content: "";
    width: 40px;
    height: 40px;
    background: #fff;
    position: absolute;
    top: 66.5%;
    left: -12px;
    transform: rotate(56deg) skew(24deg);
    @media(max-width: 1020px){
      display: none;
    }
  }

  .scroll-container{
    min-height: 500px;
    max-height: 100vh;
    overflow-y: auto;
    padding-left: 97px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-right: 8px;
    transition: padding-left 1s;
    width: 100%;
    height: 100%;
    @media(max-width: 1370px){
      padding-left: 40px;
    }
    @media(max-width: 1020px){
      justify-content: flex-start;
      padding-left: 8px;
      padding-top: 10px;
      padding-bottom: 15px;

      max-height: 100%;
    }
  }
  .top_data_container{
    @media(max-width: 1020px){
      border-bottom: 1px solid $primary-color;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .logo{
      color: $primary-color;
      font-weight: 700;
      margin-bottom: 63px;
      .left_part_logo{
        width: 91.7px;
        height: 26px;
        border: solid 1.5px $primary-color;
        font-size: 21px;
        letter-spacing: 7px;
        padding: 1px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 9px;
        line-height: 27px;
      }
      .right_part_logo{
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        letter-spacing: 4px;
      }
      @media(max-width: 1020px){
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
      }
    }
    .menu{
      @media(min-width: 1020px){
        height: auto!important;
      }
      @media(max-width: 1020px){
        transition: all 0.5s;
        overflow: hidden;
        &.hidden{
          height: 0!important;
        }
      }
      a{
        display: block;
        font-size: 21.3px;
        font-weight: 300;
        line-height: 2.19;
        letter-spacing: 2.7px;
        color: $text-color;
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 12px;
        &.active{
          font-weight: 500;
        }
        @media(max-width: 1020px){
          margin-bottom: 0;
          background-color: $primary-color;
          color:white;
          font-size: 16px;
          border-bottom: 1px solid #fff;
          padding: 3px 8px;
        }
      }
    }
  }
  .point_data_container{
    .city{
      margin-bottom: 75px;
      @media(max-width: 1020px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 20px;
      }
      .item{
        position: relative;
        margin-bottom: 19px;
        line-height: 23px;
        @media(max-width: 1020px){
          padding: 22px 10px;
          box-shadow: 1px 7px 18px -4px #c6c6c6;
          width: 100%;
          min-height: 144px;
          max-width: 320px;
          border-radius: 5px;
          margin-right: 5px;
          margin-left: 5px;
        }
        &:before{
          transition: left 1s;
          content:"";
          position: absolute;
          left: -56px;
          top: -10px;
          width: 26.7px;
          height: 26.7px;
          background: {
            position: center;
            repeat: no-repeat;
            size: contain;
          };
          @media(max-width: 1370px){
            left: -32px;
          }
          @media(max-width: 1020px){
            position: relative;
            top:auto;
            left: initial;
            display: block;
            margin: 5px auto;
          }
        }
        li{
          color: $text-color-grey;
          a{
            color: $text-color-grey;
            text-decoration: none;
            @media(max-width: 1020px){
              text-decoration: underline;
              margin-top: 10px;
              margin-bottom: 10px;
              display: block;
            }
          }
        }
      }
      .capital1{
        &:before{
          background-image:url(../img/star.svg);
        }

      }
      .capital2{
        &:before{
          background-image:url(../img/anchor.svg);
        }
      }
    }
    .contacts{
      .wrapper{
        @media(max-width: 1020px){
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-wrap: wrap;
        }
      }
      .item{
        margin-bottom: 18px;
        color: $text-color-grey;
        line-height: 23px;
        @media(max-width: 1020px){
          padding: 22px 10px;
          box-shadow: 1px 7px 18px -4px #c6c6c6;
          width: 100%;
          min-height: 144px;
          max-width: 320px;
          border-radius: 5px;
          margin-right: 5px;
          margin-left: 5px;
        }
        a{
          display: block;
          text-decoration: none;
          color: $text-color-grey;
          @media(max-width: 1020px){
            text-decoration: underline;
            margin-top: 15px;
            margin-bottom: 15px;
            display: block;
          }
        }
        a.mail{
          color:$link-color;
        }
      }
    }
    .link-groups{
      display: flex;
      justify-content: space-between;
      max-width: 244px;
      margin-top: 29px;
      @media(max-width: 1020px){
        margin: 0 auto;
      }
      img{
        height: 26.7px;
        width: auto;
      }
    }
  }
}
.map_container{
  width: 100%;
  height: 100vh;
}