
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.eot');
  src: url('../fonts/MullerBold.woff2') format('woff2'),
  url('../fonts/MullerBold.woff') format('woff'),
  url('../fonts/MullerBold.ttf') format('truetype'),
  url('../fonts/MullerBold.svg#MullerBold') format('svg'),
  url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff') format('woff'),
  url('../fonts/MullerMedium.ttf') format('truetype'),
  url('../fonts/MullerMedium.svg#MullerMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.eot');
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
  url('../fonts/MullerRegular.woff') format('woff'),
  url('../fonts/MullerRegular.ttf') format('truetype'),
  url('../fonts/MullerRegular.svg#MullerRegular') format('svg'),
  url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.eot');
  src: url('../fonts/MullerLight.woff2') format('woff2'),
  url('../fonts/MullerLight.woff') format('woff'),
  url('../fonts/MullerLight.ttf') format('truetype'),
  url('../fonts/MullerLight.svg#MullerLight') format('svg'),
  url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerThin.eot');
  src: url('../fonts/MullerThin.woff2') format('woff2'),
  url('../fonts/MullerThin.woff') format('woff'),
  url('../fonts/MullerThin.ttf') format('truetype'),
  url('../fonts/MullerThin.svg#MullerThin') format('svg'),
  url('../fonts/MullerThin.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerUltraLight.woff') format('woff'),
  url('../fonts/MullerUltraLight.ttf') format('truetype'),
  url('../fonts/MullerUltraLight.svg#MullerUltraLight') format('svg');
  font-weight: 100;
  font-style: normal;
}
body{
  font-family: "Muller";
  background-color: #fff;
}
$primary-color: #00e0a9;
$text-color: #000000;
$text-color-grey: #4a4a4a;
$link-color: #0040ff;

@keyframes rubberBand {
  from {
   opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mobile-mod{
  @media(min-width: 1020px){
    display: none;
  }
  display: inline-block;
  vertical-align: middle;
  .menu-button{
    padding: 8px 0;
    cursor: pointer;
    padding-right: 15px;
    span{
      width: 20px;
      height: 2px;
      background-color: $primary-color;
      display: block;
      margin: 3px 0;
      transition: all 0.5s;
      &:last-child{
        opacity: 1;
      }
    }
  }
  .menu-button.active{
    position: relative;
    width: 20px;
    height: 35px;
    padding-top: 13px;
    margin-right: 15px;
    span{
      position: absolute;
      &:first-child{
        transform: rotate(40deg);
      }
      &:nth-child(2){
        transform: rotate(-40deg);
      }
      &:last-child{
        opacity: 0;
      }
    }

  }
}
